/* Base  */

body { margin: 0; }
/* Colors */

.black { color: #000; }
.white { color: #fff; }
.hazey-black { color: rgb(43,48,59); }
.caucasian { color: rgb(249,241,239); }
.offwhite { color: rgb(255,255,240); }
.mustard { color: rgb(206,161,32); }
.dusty-cobalt { color: rgb(42,62,80); }
/* Typography */

body { font-family: 'Libre Baskerville', 'Georgia', 'Garamond', serif; }
.serif { font-family: 'Baskerville', 'Georgia', 'Garamond', serif; }
.serif-free { font-family: 'Libre Baskerville', 'Georgia', 'Garamond', serif; }
/* White space */

.p5 { padding: 80px; padding: 5rem; }
/* Grid */

.container { max-width: 1024px; max-width: 64rem; }
/* Images */

img { max-width: 100%; }
svg { max-height: 100%; }
/* Positioning */

.absolute { position: absolute; }